{#
/**
 * @file
 * Default theme implementation to print Articles.
 *
 * Available variables:
 *   - articles
 *
 *
 * @ingroup themeable
 */
#}

{% if articles %}
{% for a in articles %}
  <div class="article{% if not (a.is_owner or a.is_recommendation) %} other{% endif %}{% if articles|length == 1 %} expanded{% endif %}{% if (a.is_owner or a.is_recommendation) and a.new %} new{% endif %}" id="article-{{ a.id }}">
    <div class="article-display">


      <div class="article-icons left">
        {% if a.is_owner %}
          <i class="material-icons md-dark clickable icon done-icon{% if not a.inbox %} archive{% endif %}" id="done-{{ a.id }}">
            <div class="tooltip">
              done
              <span class="tooltiptext top right" id="donetooltip-{{ a.id }}">{% if a.inbox %}Mark as done{% else %}Move to inbox{% endif %}</span>
            </div>
          </i>
        {% else %}
          <i class="icon"></i>
        {% endif %}
        <i class="material-icons md-dark clickable icon bookmark-icon{% if a.bookmark %} bookmarked{% endif %}" id="bookmark-{{ a.id }}">
          <div class="tooltip">
            <span class="icon-name">
            {% if a.bookmark %}
              bookmark
            {% else %}
              bookmark_border
            {% endif %}
            </span>
            <span class="tooltiptext bottom right" id="bookmarktooltip-{{ a.id }}">{% if a.bookmark %}Remove bookmark{% else %}Add bookmark{% endif %}</span>
          </div>
        </i>
        <i class="material-icons md-dark clickable icon comment-icon" id="commenticon-{{ a.id }}">comment</i>
      </div>


      <div class="article-data">
        <span class="article-title">{{ a.title }}</span>
        <span class="article-metadata">{{ a.authors }}, <a href="http://dx.doi.org/{{ a.doi }}" target="_BLANK">{{ a.journal }} ({{ a.year }}){% if a.volume %}  <span class = "article-volume">{{ a.volume }}</span>{% endif %}{% if a.pages %}, {{ a.pages }}{% endif %}.</a>
        <br />
        {% if a.is_recommendation %}
          Recommended by {{ a.rec_sender }} on {{ a.timestamp }}.
        {% else %}
          Assigned to {{ a.owner }} on {{ a.date_added }}.
        {% endif %}
        {% if a.is_starred %} Starred on {{ a.star_date }}.{% endif %}</span>
      </div>


      <div class="article-icons right">
        {% if a.is_starred %}
          <i class="material-icons md-dark icon star-icon">star</i>
        {% else %}
          <i class="icon"></i>
        {% endif %}
        <i class="material-icons md-dark clickable icon options-icon">
          <div class="tooltip">
            menu
            <span class="tooltiptext bottom left">More actions</span>
          </div>
          <div class="article-actions-container">
            <div class="article-actions-menu" id="menu-{{ a.id }}" tabindex="1">
              {% if a.is_owner or a.is_recommendation %}
                <div class="article-actions-menu-item unread-action">
                  <i class="material-icons md-dark icon unread-icon">markunread</i>
                  <span class="article-actions-menu-item-desc">Keep unread</span>
                </div>
              {% endif %}
              <div class="article-actions-menu-item share-action">
                <i class="material-icons md-dark icon share-icon">share</i>
                <span class="article-actions-menu-item-desc">Recommend article</span>
              </div>
            </div>
          </div>
        </i>
        {% if not a.is_starred %}
          <i class="material-icons md-dark clickable icon vote-icon{% if a.voted %} voted{% endif %}" id="vote-{{ a.id }}">
            <div class="tooltip">
              plus_one
              <span class="tooltiptext bottom left" id="votetooltip-{{ a.id }}">{% if a.voted %}Remove vote{% else %}Add vote{% endif %}</span>
            </div>
          </i>
        {% else %}
          <i class="material-icons md-dark icon md-inactive vote-icon-disabled">plus_one</i>
        {% endif %}
      </div>
    </div>


    <div class="article-comment {% if articles|length == 1 %} visible{% endif %}">
      <span class="comment-add">Add comment</span>
      <div class="comment-editor-wrapper">
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}
