{#
/**
 * @file
 * Default theme implementation to print Articles.
 *
 * Available variables:
 *   - articles
 *   - more
 *   - page
 *
 *
 * @ingroup themeable
 */
#}



<div id="recommend-bg">
  <div id="recommend-container">
    <h2 id="recommend-header">Share this article</h2>
    <span id="recommend-instructions">Type the name of the person you want to share this article with, and choose the user from the autocomplete box below it. If the person does not appear, then someone else already shared this article with them.</span>
    <div id="recommend-autocomplete">
      <input type="text" id="recommend-input" />
    </div>
    <span>Placeholder for buttons</span>
  </div>
</div>

<div id="blender-navigation">
  <a href="{{ url('blender.inbox') }}">
    <div class="blender-navigation-item{% if page is same as('inbox') %} selected{% endif %}">
      <i class="material-icons md-dark icon clickable inbox-nav-icon{% if page is same as('inbox') %} selected{% endif %}">markunread</i>
      <span class="blender-navigation-desc">Inbox</span>
    </div>
  </a>
  <a href="{{ url('blender.user-bookmarks') }}">
    <div class="blender-navigation-item{% if page is same as('bookmarks') %} selected{% endif %}">
      <i class="material-icons md-dark icon clickable bookmark-nav-icon{% if page is same as('bookmarks') %} selected{% endif %}">bookmark</i>
      <span class="blender-navigation-desc">My Bookmarks</span>
    </div>
  </a>
  <a href="{{ url('blender.user-votes') }}">
    <div class="blender-navigation-item{% if page is same as('user-votes') %} selected{% endif %}">
      <i class="material-icons md-dark icon clickable vote-nav-icon{% if page is same as('user-votes') %} selected{% endif %}">plus_one</i>
      <span class="blender-navigation-desc">My Votes</span>
    </div>
  </a>
  <a href="{{ url('blender.user-recommendations') }}">
    <div class="blender-navigation-item{% if page is same as('user-recommendations') %} selected{% endif %}">
      <i class="material-icons md-dark icon clickable rec-nav-icon{% if page is same as('user-recommendations') %} selected{% endif %}">share</i>
      <span class="blender-navigation-desc">Shared With Me</span>
    </div>
  </a>
  <a href="{{ url('blender.user-archive') }}">
    <div class="blender-navigation-item{% if page is same as('user-archive') %} selected{% endif %}">
      <i class="material-icons md-dark icon clickable archive-nav-icon{% if page is same as('user-archive') %} selected{% endif %}">done</i>
      <span class="blender-navigation-desc">My Articles</span>
    </div>
  </a>
</div>

{% if articles %}
  <div id="articles-table">
  {% include '@blender/blender-article.html.twig' %}
  {% if more %}
    <div id="articles-more">
      <i class="material-icons md-dark clickable md-48 icon">
      <div class="tooltip">
        file_download
        <span class="tooltiptext">Show more articles</span>
      </div>
      </i>
    </div>
  {% endif %}
  </div>
{% else %}
  <div class="no-articles">No articles to display.</div>
{% endif %}
