{#
/**
 * @file
 * Default theme implementation to print Articles.
 *
 * Available variables:
 *   - articles
 *   - more
 *   - page
 *   - inbox_new
 *   - recommend_new
 *
 *
 * @ingroup themeable
 */
#}



<div id="recommend-bg" class="overlay">
  <div id="recommend-container">
    <span id="recommend-article-title" class="article-title"></span>
    <span id="recommend-article-metadata" class="article-metadata"></span>
    <div id="recommend-autocomplete">
      <span id="recommend-instructions">Share with:</span>
      <input type="text" id="recommend-input" />
    </div>
    <div id="recommend-success">Shared with <span id="recommend-success-user"></span>!</div>
    <div id="recommend-fail">Could not share with <span id="recommend-fail-user"></span>. <span id="recommend-fail-msg"></span></div>
  </div>
</div>

<div id="delete-bg" class="overlay">
</div>


<div id="blender-navigation">
  <a href="{{ url('blender.inbox') }}">
    <div class="blender-navigation-item{% if page is same as('inbox') %} selected{% endif %} tooltip">
        <i class="material-icons md-dark icon clickable inbox-nav-icon{% if page is same as('inbox') %} selected{% endif %}">markunread</i>
        <div class="badge{% if inbox_new > 0 %} visible{% endif %}" id="inbox-new-count">{{ inbox_new }}</div>
        <span class="tooltiptext bottom">View articles in inbox.</span>
    </div>
  </a>
  <a href="{{ url('blender.user-bookmarks') }}">
    <div class="blender-navigation-item{% if page is same as('bookmarks') %} selected{% endif %} tooltip">
      <i class="material-icons md-dark icon clickable bookmark-nav-icon{% if page is same as('bookmarks') %} selected{% endif %}">bookmark</i>
      <span class="tooltiptext bottom">View bookmarked articles.</span>
    </div>
  </a>
  <a href="{{ url('blender.user-votes') }}">
    <div class="blender-navigation-item{% if page is same as('user-votes') %} selected{% endif %} tooltip">
      <i class="material-icons md-dark icon clickable vote-nav-icon{% if page is same as('user-votes') %} selected{% endif %}">plus_one</i>
      <span class="tooltiptext bottom">View articles you have voted for.</span>
    </div>
  </a>
  <a href="{{ url('blender.user-recommendations') }}">
    <div class="blender-navigation-item{% if page is same as('user-recommendations') %} selected{% endif %} tooltip">
      <i class="material-icons md-dark icon clickable rec-nav-icon{% if page is same as('user-recommendations') %} selected{% endif %}">share</i>
      <div class="badge{% if recommend_new > 0 %} visible{% endif %}" id="recommend-new-count">{{ recommend_new }}</div>
      <span class="tooltiptext bottom">View articles shared with you.</span>
    </div>
  </a>
  <a href="{{ url('blender.user-archive') }}">
    <div class="blender-navigation-item{% if page is same as('user-archive') %} selected{% endif %} tooltip">
      <i class="material-icons md-dark icon clickable archive-nav-icon{% if page is same as('user-archive') %} selected{% endif %}">done</i>
      <span class="tooltiptext bottom">View all articles assigned to you.</span>
    </div>
  </a>
</div>

{% if articles %}
  <div id="articles-table">
  {% include '@blender/blender-article.html.twig' %}
  {% if more %}
    <div id="articles-more">
      <i class="material-icons md-dark clickable md-48 icon">
      <div class="tooltip">
        file_download
        <span class="tooltiptext">Show more articles</span>
      </div>
      </i>
    </div>
  {% endif %}
  </div>
{% else %}
  <div class="no-articles">No articles to display.</div>
{% endif %}
