{#
/**
 * @file
 * Default theme implementation to print Articles.
 *
 * Available variables:
 *   - articles
 *
 *
 * @ingroup themeable
 */
#}
<div class="articles-table">
{% for a in articles %}
  <div class="article"><span class="article-title">{{ a.title }}</span> <span class="article-authors">{{ a.authors }}</span> <span class="article-owner">{{ a.user_id }}: {{ a.owner }}</span>. <span class="article-journal">{{ a.journal }}</span></div>
{% endfor %}
</div>
