{#
/**
 * @file
 * Default theme implementation to print comments.
 *
 * Available variables:
 *   - comments
 *
 *
 * @ingroup themeable
 */
#}

{% if comments %}
{% for c in comments %}
  <div class="blender-comment" id="comment-{{ c.id }}">
    <div class="comment-metadata">
      <span class="comment-author">{{ c.author|title }}</span>
      <span class="comment-timestamp">{{ c.timestamp }}</span>
      {% if c.edited %}
        <span class="comment-timestamp">Last edited: {{ c.edited }}</span>
      {% endif %}
      {% if c.is_author %}
      <div class="comment-actions">
        <a class="comment-link edit" id="comment_edit-{{ c.id }}">Edit</a>
        <a class="comment-link delete" id="comment_delete-{{ c.id }}">Delete</a>
      </div>
      {% endif %}
    </div>


    <div class="comment-body">
      {{ c.text|raw }}
    </div>
  </div>

{% endfor %}
{% else %}
<div class="no-comments">No comments yet.</div>
{% endif %}
